:root {
	--iris-1: #fdfdff;
	--iris-2: #f8f8ff;
	--iris-3: #f0f1fe;
	--iris-4: #e6e7ff;
	--iris-5: #dadcff;
	--iris-6: #cbcdff;
	--iris-7: #b8baf8;
	--iris-8: #9b9ef0;
	--iris-9: #5b5bd6;
	--iris-10: #5151cd;
	--iris-11: #5753c6;
	--iris-12: #272962;

}

@media (prefers-color-scheme: dark) {
    :root {
        --iris-1: #13131e;
        --iris-2: #171625;
        --iris-3: #202248;
        --iris-4: #262a65;
        --iris-5: #303374;
        --iris-6: #3d3e82;
        --iris-7: #4a4a95;
        --iris-8: #5958b1;
        --iris-9: #5b5bd6;
        --iris-10: #6e6ade;
        --iris-11: #b1a9ff;
        --iris-12: #e0dffe;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background-color: var(--iris-1);
    color: var(--iris-12);
    transition: all 0.3s ease;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
    gap: 1rem;
    align-items: start;
}

.sidebar {
    background-color: var(--iris-9);
    margin: 1rem 0rem 1rem 1rem;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
}

.main {
    margin: 1rem 1rem 1rem 0rem;
    border-radius: 28px;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(100px, auto));
    gap: 1rem;
    min-height: 0;
    overflow-y: auto;
}

.main > div {
    background-color: var(--iris-3);
    border-radius: 16px;
    padding: 1rem;
    min-height: 0;
    overflow-y: auto;
}


.side-link-group {
    display: flex;
    flex-direction: column;
}

.side-link {
    line-height: 0px;
    display: flex;
    align-items: center;
    gap: 1rem;

    color: var(--iris-12);
    text-decoration: none;
    font-weight: 400;
    transition: background-color 0.2s ease;
}

svg {
    width: 20px;
    height: 20px;
    margin: 0.5rem;

}

.header-container {
    display: grid;
    grid-template-rows: 60% 40%;
    gap: 0.5rem;
}

header {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1rem;
}

.search-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 12px;
}

.profile-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    font-weight: 400;
    padding-right: 2rem;
}

.lower-header {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: start;
}

.lower-header-one {
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
}

.lower-header-two {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.lower-header-two > button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 28px;
    background-color: var(--iris-9);
    color: var(--iris-12);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.lower-header-two > button:hover {
    background-color: var(--iris-10);
}

h3 {
    font-weight: 500;
}

.main-main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}

.card-grid-area {
    display: grid;
    grid-template-rows: auto;
    gap: 1rem;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.card {
    border-left: var(--iris-9) 4px solid;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--iris-4);
    border-radius: 16px;
    padding: 1rem;
}

.card p {
    font-size: 14px;
    line-height: 1.4;
    color: var(--iris-11);
}

.main-sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-sidebar-content {
    background-color: var(--iris-4);
    border-radius: 16px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-sidebar-content p {
    font-size: 14px;
    line-height: 1.4;
    color: var(--iris-11);
}   


