html {
  font-size: 17px;
}

:root {
  --iris-1: #fdfdff;
  --iris-2: #f8f8ff;
  --iris-3: #f0f1fe;
  --iris-4: #e6e7ff;
  --iris-5: #dadcff;
  --iris-6: #cbcdff;
  --iris-7: #b8baf8;
  --iris-8: #9b9ef0;
  --iris-9: #5b5bd6;
  --iris-10: #5151cd;
  --iris-11: #5753c6;
  --iris-12: #272962;
  --good: #e93d82;
  --bad: #29a383;
  --text: rgba(0, 0, 0, 0.89);
  --heading-line-height: 1.1;
  --heading-letter-spacing: -0.022em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: var(--iris-1);
  color: var(--text);
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
  font-family: "Cal Sans", sans-serif;
  font-weight: 700;
  color: var(--text);
}

h1 {
  font-size: clamp(2.25rem, 8vw, 3.76rem);
}

h2 {
  font-size: clamp(1.85rem, 6vw, 2.82rem);
}

h3 {
  font-size: clamp(1.6rem, 4vw, 2.1rem);
}

h4 {
  font-size: clamp(1.4rem, 3vw, 1.65rem);
}

h5 {
  font-size: 1.18rem;
}

h6 {
  font-size: 0.82rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--iris-11);
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

.signature {
  font-size: 10px;
  position: absolute;
  top: 15px;
  left: 15px;
  color: var(--iris-11);
}

.signature a {
  font-family: "Cal Sans", sans-serif;
  color: var(--iris-11);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100dvh;
  justify-content: center;
  max-width: 1020px;
  padding: 0rem 1rem 0rem 1rem;
}

.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--iris-3);
  border-radius: 28px;
  padding: 2rem;
}
