/* Add CSS Styling */
.odd {
    background-color: lightpink;
    font-family: "Verdana", "DeJavu Sans", sans-serif;
}

#two {
    color: lightblue;
    font-size: 36px;
}

#four {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: 700;
}

.extra {
    font-size: 24px;
}
