* {
    margin: 0px;
    font-family: sans-serif;
}

.width-row {
    width: 1080px;
    display: flex;
    gap: 3rem;
    padding: 5rem 1rem 5rem 1rem;
}

.width-column {
    width: 1080px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem 1rem 5rem 1rem;
    align-items: center;
}

.info-area {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-align: center;
}

.image-and-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-three {
    background-color: #b5b2bc;
}

.quote-text {
    font-size: 28px;
    font-style: italic;
    font-weight: 300;
}

.quote-name {
    font-weight: 700;
    font-size: 28px;
    text-align: right;
    align-self: flex-end;
}

button {
    align-self: flex-start;
    background-color: #0090ff;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 28px;
    font-size: 18px;
    color: white;
    border: 0;
}

.width-row div {
    flex: 1;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 28px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #0d1520;
}

header {
    padding: 1rem;
    margin: 0 auto;
    color: white;
    position: sticky;
    top: 0;
}

.headerflex {
    margin-left: 2rem;
    display: flex;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 28px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

footer {
    width: 100%;
    padding: 1rem;
    background-color: #0d1520;
    color: white;
    display: flex;
    justify-content: center;
}

header div {
    width: 1080px;
    display: flex;
    justify-content: space-between;
}

.bigbluecontainer {
    background-color: #0090ff;
    padding: 2rem 4rem 2rem 4rem;
    border-radius: 28px;
    display: flex;
    color: white;
}

#bigbluecontainerbutton {
    border-color: white;
    border: 2px;
    border-style: solid;
    padding: 1rem 3rem 1rem 3rem;
    text-align: center;
}

.bigbluecontainerleft {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title {
    font-size: 32px;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.section-one {
    color: white;
    background-color: #0d1520;
}

.section-two {
    background-color: white;
}

.section-four {
    background-color: white;
}
