:root {


	--iris-1: #fdfdff;
	--iris-2: #f8f8ff;
	--iris-3: #f0f1fe;
	--iris-4: #e6e7ff;
	--iris-5: #dadcff;
	--iris-6: #cbcdff;
	--iris-7: #b8baf8;
	--iris-8: #9b9ef0;
	--iris-9: #5b5bd6;
	--iris-10: #5151cd;
	--iris-11: #5753c6;
	--iris-12: #272962;

}

@media (prefers-color-scheme: dark) {
  :root {

	--iris-1: #13131e;
	--iris-2: #171625;
	--iris-3: #202248;
	--iris-4: #262a65;
	--iris-5: #303374;
	--iris-6: #3d3e82;
	--iris-7: #4a4a95;
	--iris-8: #5958b1;
	--iris-9: #5b5bd6;
	--iris-10: #6e6ade;
	--iris-11: #b1a9ff;
	--iris-12: #e0dffe;

  }
}

* {
    margin: 0px;
    color: var(--iris-12);
	font-family: "Cal Sans", sans-serif;
}

body {
	font-family: "Cal Sans", sans-serif;
	background-color: var(--iris-1);
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
	gap: 2rem;
}

#etch-container {
	border: 1px solid var(--iris-12);
	display: flex;
	flex-wrap:wrap;
width: 600px;
height: 600px;
}

#etch-container div {
	background-color: var(--iris-1);
}

#reset-button {
	padding: 1rem 2rem;
	font-size: 1.25rem;
	border: none;
	border-radius: 28px;
	background-color: var(--iris-3);
	color: var(--iris-12);
	cursor: pointer;
}

#reset-button:hover {
	background-color: var(--iris-4);
}

#grid-size {
	padding: 1rem 2rem;
	font-size: 1.25rem;
	border: none;
	border-radius: 28px;
	background-color: var(--iris-3);
	color: var(--iris-12);
	cursor: pointer;
}

#grid-size:hover {
	background-color: var(--iris-4);
}

.buttons {
	display: flex;
	gap: 2rem;
}

.title {
	position:absolute;
	left: 16px;
	top: 16px;
	font-size: 1rem;
}