html {
  font-size: 17px;
}

@font-face {
  font-family: "Cal Sans";
  src: url("./fonts/CalSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

/* 2. Define Google Sans */
@font-face {
  font-family: "Google Sans";
  src: url("./fonts/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

:root {
  --iris-a1: #0000ff02;
  --iris-a2: #0000ff07;
  --iris-a3: #0011ee0f;
  --iris-a4: #000bff19;
  --iris-a5: #000eff25;
  --iris-a6: #000aff34;
  --iris-a7: #0008e647;
  --iris-a8: #0008d964;
  --iris-a9: #0000c0a4;
  --iris-a10: #0000b6ae;
  --iris-a11: #0600abac;
  --iris-a12: #000246d8;

  --iris-1: #fdfdff;
  --iris-2: #f8f8ff;
  --iris-3: #f0f1fe;
  --iris-4: #e6e7ff;
  --iris-5: #dadcff;
  --iris-6: #cbcdff;
  --iris-7: #b8baf8;
  --iris-8: #9b9ef0;
  --iris-9: #5b5bd6;
  --iris-10: #5151cd;
  --iris-11: #5753c6;
  --iris-12: #272962;
  --good: #e93d82;
  --bad: #29a383;
  --text-black: rgba(0, 0, 0, 0.89);
  --text-white: rgba(255, 255, 255, 0.97);
  --heading-line-height: 1.1;
  --heading-letter-spacing: -0.022em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: var(--iris-1);
  color: var(--text);
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
  font-family: "Cal Sans", sans-serif;
  font-weight: 700;
  color: var(--text);
}

h1 {
  font-size: clamp(2.25rem, 8vw, 3.76rem);
}

h2 {
  font-size: clamp(1.85rem, 6vw, 2.82rem);
}

h3 {
  font-size: clamp(1.6rem, 4vw, 2.1rem);
}

h4 {
  font-size: clamp(1.4rem, 3vw, 1.65rem);
}

h5 {
  font-size: 1.18rem;
}

h6 {
  font-size: 0.82rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--iris-11);
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

.signature {
  font-size: 10px;
  position: absolute;
  top: 15px;
  left: 15px;
  color: var(--iris-11);
}

.signature a {
  font-family: "Cal Sans", sans-serif;
  color: var(--iris-11);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 1020px;
  padding: 0rem 1rem 0rem 1rem;
  margin-top: 8rem;
}

header {
  margin-top: 2rem;
  max-width: calc(1020px - 2rem);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #f0f1fed2;
  backdrop-filter: blur(16px);
  border-radius: 28px;
}

nav {
  display: flex;
  gap: 1rem;
}

nav button {
  border: none;
  background-color: var(--iris-9);
  color: var(--text-white);
  padding: 0.5rem 1rem;
  border-radius: 28px;
  cursor: pointer;
}

nav button:hover {
  background-color: var(--iris-10);
}

nav button:active {
  background-color: var(--iris-11);
}

.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-container {
  border-radius: 28px;

  height: 100dvh;
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  align-items: center;
}

.home-container > * {
  width: 50ch;
  text-align: center;
}

.home-container-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 28px 28px 0px 0px;
  color: var(--text-white);
  backdrop-filter: blur(16px);
}
