:root {
	--iris-1: #fdfdff;
	--iris-2: #f8f8ff;
	--iris-3: #f0f1fe;
	--iris-4: #e6e7ff;
	--iris-5: #dadcff;
	--iris-6: #cbcdff;
	--iris-7: #b8baf8;
	--iris-8: #9b9ef0;
	--iris-9: #5b5bd6;
	--iris-10: #5151cd;
	--iris-11: #5753c6;
	--iris-12: #272962;
}

@media (prefers-color-scheme: dark) {
  :root {

	--iris-1: #13131e;
	--iris-2: #171625;
	--iris-3: #202248;
	--iris-4: #262a65;
	--iris-5: #303374;
	--iris-6: #3d3e82;
	--iris-7: #4a4a95;
	--iris-8: #5958b1;
	--iris-9: #5b5bd6;
	--iris-10: #6e6ade;
	--iris-11: #b1a9ff;
	--iris-12: #e0dffe;

  }
}

* {
    margin: 0px;
    font-family: "Cal Sans", sans-serif;
    color: var(--iris-12);
}

body {
    background-color: var(--iris-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 2rem;
}

.title {
    position:absolute;
    left: 16px;
    top: 16px;
    font-size: 1rem;
}

.buttons {
    display: flex;
    gap: 2rem;
}

.buttons div {
    font-size: 48px;
    padding: 2rem;
    border-radius: 28px;
    background-color: var(--iris-3);
}

.buttons div:hover {
    cursor: pointer;
    background-color: var(--iris-4);
}

.choices {
    display: flex;
    gap: 3rem;
    text-align: center;
}

.choice-box {
    font-size: 48px;
}

.reset {
    display: none;
    background-color: var(--iris-3);
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 9999px;
    border-style: none;
}

.reset:hover {
    background-color: var(--iris-4);
    cursor: pointer;
}